<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <param name="/use_sime_time" value="false"/>

    <!-- 发布的是 child_frame_id ====> frame_id 坐标系的变换(即在frame_id坐标系的姿态) -->
    <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
    <!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -1.5707963267949 -->
<!--    <node name="bl_imu_tf" pkg="tf" type="static_transform_publisher" respawn="true" args="0 0 0 -1.5707963267949 0 0  base_link imu_link 100" output="log"/>-->
<!--    <node name="gps_imu_tf" pkg="tf" type="static_transform_publisher" respawn="true" args="0 0 0 0 0 0 1 imu_link gps 100" output="log"/>-->

    <node pkg="wgs_conversions" type="wgs_convertor_node" name="wgs_conversions_node" clear_params="true" output="screen">
        <param name="CONVERT_MODE" value="ENU" />
        <!-- 输入 -->
        <!-- from: 本节点订阅采用的Topic     to: 其他节点发布的Topic -->
        <remap from="/gps/fix"            to="/gps/fix"  />
        <remap from="/gps/ins"            to="/gps/ins" />
        <remap from="/imu/data"           to="/imu/data" /> 

        <!-- 输出 -->
        <remap from="/odometry/gpsFix"    to="/odometry/gpsFix" />
        <remap from="/odometry/ins"       to="/odometry/ins" />
    </node>

</launch>
